footer {
    position: relative;
    background-image: url("../assets/Images/wallpaper.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: $white;

    .footer-img {
        width: 50px;
        height: 50px;

        &[src="assets/Icons/twitter-100.png"] {
            width: 60px;
        }
    }

    .contact {
        margin: 10px 0 5px;
    }

    .contact + p {
        font-weight: 100;
        font-size: 13px;
    }

    .footer-note {
        margin: 50px auto;
        font-weight: 100;
        font-size: 13px;
    }

    // arrow top
    #return-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: rgb(26, 177, 232);
        background: rgb(26, 177, 232);
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        text-align: center;
        z-index: 99;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top i {
        color: #fff;
        margin: 0;
        font-size: 19px;
        line-height: 50px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top:hover {
        background:rgb(26, 177, 232);
    }
    #return-to-top:hover i {
        color: #fff;
        top: 5px;
    }

    .hide {
        transform: scale(0, 0);
    }
}